<!DOCTYPE html>
<html>
<head>
    <title>NTUMISSION - Debugging</title>
    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/debug.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
<h1>除錯用網頁</h1>

<h2><a href="/debug/users"><code>/users</code></a>: 使用者列表</h2>
<h2><a href="/debug/missions"><code>/missions</code></a>: 任務列表</h2>
<h2><a href="/debug/log"><code>/log</code></a>: 貼文紀錄</h2>
</div>

</body>
</html>
