<!DOCTYPE html>
<html>
<head>
    <title>NTUMISSION - Debugging</title>
    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/debug.css">
</head>
<body>

<div class="container">
<h1>Debugging Endpoint</h1>

<h2><a href="/debug/users"><code>/users</code></a>: User List</h2>
<h2><a href="/debug/missions"><code>/missions</code></a>: Mission List</h2>
<h2><a href="/debug/log"><code>/log</code></a>: Log (working in progress)</h2>
</div>

</body>
</html>